@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<br /> 


<br /> 


<p> I am testing this shit code. Scrubba dub dub </p>



<br /> 


<p>
    Seems to flow seamlessly 

</p>



<script>
    
    Alert("Hello World" ); 


</script>